.Gallery-wall {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5d4072;
}

.print {
    width: 80%;
}
.vertical-align {
    display: middle; 
    align-items: center;
  }